<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pupthesis.chronos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".Activity.FlashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.NavigationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Gantt_Task"
            android:label="@string/title_activity_gantt__task"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Gantt"
            android:label="@string/title_activity_gantt"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Project"
            android:label="@string/title_activity_project"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Task"
            android:label="@string/title_activity_task"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Charts"
            android:label="@string/title_activity_charts"
            android:theme="@style/NoActionBar" />

        <service
            android:name=".Service.NotificationIntentService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".Service.NotificationEventReceiver" />
        <receiver android:name=".Service.NotificationServiceStarterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.Line"
            android:label="@string/title_activity_line"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Project_Line"
            android:label="@string/title_activity_project__line"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Task_Line"
            android:label="@string/title_activity_task__line"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.LineTask"
            android:label="@string/title_activity_line_task"
            android:theme="@style/NoActionBar"></activity>
    </application>

</manifest>